body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #7cc6fe;
}
.app {
  background-color: #252d4a;
  width: 450px;
  padding: 20px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  display: flex;
  color: white;
  justify-content: space-evenly;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.container {
 width: 100%;
 position: relative;
}
.title {
  margin-bottom: 20px;
}
.title span {
  font-size: 28px;
}
.question {
  margin-bottom: 12px;
}
.btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
button {
  width: 100%;
  font-size: 16px;
  display: flex;
  padding: 5px;
  border-radius: 15px;
  background-color: #252d4a;
  justify-content: flex-start;
  color: white;
  border: 2px solid #234668;
  align-items: center;
  cursor: pointer;
}
button:hover {
  background-color: gray;
}
.score {
  display: flex;
  justify-content: center;
  align-items: center;
}